   {% extends "base.html" %}
              
                  
                  {% block content %} 
                   
              
                <div class="col-8 " >
                   <div class="rightpart aboutme ">
                        
                            <div class="aboutmargin"> 
                              {% for section in sections %}
                                <h1>{{section.title}}</h1>
                                
                                <h5>{{section.text}}
                                {% endfor %}
                                </h5>
                                 
                           
                            </div> 
              
                             
                    </div>
                </div>
                
            </div>
        
            
            
            
               </div>

        </body>
    </html>    
         {% endblock  %} 
